body{
    background-color: grey;
    font-family: 'Righteous', cursive;
    color:white;
}

header a{
    text-decoration: none;
    color: white;
}

header{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: maroon;
}

li{
    float: left;
}

p a{
    text-decoration: none;
    color: white;
}

li a{
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    padding:14px 16px;
}

nav{
    border: solid black;
}

li a:hover{
    background-color: red;
}

footer{
    background-color: maroon;
    color: white;
    border:solid black;
    padding:14px 16px;
    clear: both;
}

aside{
    
    float: right;
    padding: 16px 20px;
}

.container{
    background-color: maroon;
    clear:both;
}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}

.question-template{
    background-color: maroon;
    overflow: auto;
}
    
main, aside{
    padding: 20px;
}

main{
    float: left;
    color: white;
    padding:14px 16px;
}

table, th, td{
    border-collapse: collapse;
    border: black solid;
}